NODE_ENV="development"
APPLICATION_PORT="4000"
APPLICATION_URL="http://localhost:${APPLICATION_PORT}"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="payment"
